<% if @messages.present? %>
  <% @messages.each do |message| %>
    <% if message.id? %>
      <div class="message-container">
        <div>
          <%= image_tag "message.jpg", class: "message-icon" %>
          <p><%= message_body(message) %></p>
          <span class="time-right"><%= format_time(message.updated_at) %></span>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>

<%= form_for @message, url: user_messages_path(current_user), html: {class: 'form-inline text-center', remote: true} do |f| %>
  <div class="form-group">
    <%= f.text_field :body, :label => false, placeholder: I18n.t("app.message") + " *", autocomplete: "off", class: "form-control align-msg-body", "data-validate-error": true, "data-error-msg": f.object.errors[:body][0], required: true %>
    <%= f.hidden_field :conversation_id %>
    <%= hidden_field_tag :user_id, @user.id %>
  </div>
  <%= f.submit I18n.t("app.send_message"), class: "message-btn" %>
<% end %>
