<div class="form-horizontal text-center">
  <div class="form-group">
    <p class="lawyer-email"><%= claim_header %></p>
  </div>
  <div class="form-group">
    <%= label_tag :amount, I18n.t("app.amount"), class: "control-label col-sm-4" %>
    <div class="col-sm-8 ">
      <%= label_tag :amount, amount_currency(@claim.amount), class: "control-label" %>
    </div>
  </div>
  <div class="form-group">
    <%= label_tag :claim_type, I18n.t("app.claim_type"), class: "control-label col-sm-4" %>
    <div class="col-sm-8">
      <%= label_tag :claim_type, @claim.collection_area_name , class: "control-label" %>
    </div>
  </div>
  <div class="form-group">
    <%= label_tag :county, I18n.t("app.county"), class: "control-label col-sm-4" %>
    <div class="col-sm-8">
      <%= label_tag :county, @claim.county , class: "control-label" %>
    </div>
  </div>
  <div class="form-group">
    <%= label_tag :pending_since, I18n.t("app.pending_since"), class: "control-label col-sm-4" %>
    <div class="col-sm-8">
      <%= label_tag :pending_since, modify_date_format(@claim.pending_since) , class: "control-label" %>
    </div>
  </div>

  <div class="sprtn-line "></div>

  <div class="row text-center lawyer-email align-debtor-info"><%= I18n.t("app.debtor_info") %></div>

  <div class="form-group">
    <%= label_tag :name, I18n.t("user.name"), class: "control-label col-sm-4" %>
    <div class="col-sm-8">
      <%= label_tag :name, @debtor.name , class: "control-label" %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :address, I18n.t("app.address"), class: "control-label col-sm-4" %>
    <div class="col-sm-8">
      <%= label_tag :address, @debtor.address , class: "control-label" %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :county, I18n.t("app.county"), class: "control-label col-sm-4" %>
    <div class="col-sm-8">
      <%= label_tag :county, @debtor.county , class: "control-label" %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :city, I18n.t("address.city"), class: "control-label col-sm-4" %>
    <div class="col-sm-8">
      <%= label_tag :city, @debtor.city , class: "control-label" %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :postal_code, I18n.t("address.postal_code"), class: "control-label col-sm-4" %>
    <div class="col-sm-8">
      <%= label_tag :postal_code, @debtor.postal_code , class: "control-label" %>
    </div>
  </div>


  <div class="sprtn-line "></div>
  <div class="row text-center lawyer-email align-debtor-info"><%= I18n.t("app.addition_info") %></div>

  <div class="form-group">
    <%= label_tag :total_bids, I18n.t("app.bids"), class: "control-label col-sm-4" %>
    <div class="col-sm-8">
      <%= label_tag :total_bids, @claim.bids.size , class: "control-label" %>
    </div>
  </div>
  
  <div class="form-group">
    <%= label_tag :description, I18n.t("user.description"), class: "control-label col-sm-4" %>
    <div class="col-sm-8 claim-description">
      <%= label_tag :description, @claim.additional_desciption%>
    </div>
  </div>

  


</div>
