<div class="col-md-8 align-claim-list">
  <% if @claims.present? %>
    <% @claims.each_slice(3) do |batch| %>
      <div class="row">
        <% batch.each do |claim| %>
          <div class="col-md-4 claim-card">
            <div class="identifier"><%= claim.identifier %></div>
            <p class="identifier claim-date"><%= I18n.t("app.amount") %>: <%= amount_currency(claim.amount) %></p>
            <p class="identifier pending-since"><%= I18n.t("app.pending_since") %>: <%= modify_date_format(claim.pending_since) %></p>

            <p class="identifier claim-type">
              <%= I18n.t("app.claim_type") %>:<%= claim.collection_area_name %>
            </p>
            <p class="identifier claim-type">
              <%= I18n.t("app.county") %>:<%= claim.county %>
            </p>
            <p class="identifier claim-type">
              <% if claim.is_rfp %>
                <%= link_to I18n.t("app.assign"), legal_professionals_path %>
              <% else %>
                <%= I18n.t("app.bids") %>:<%= claim.bids_count %>
              <% end %>
            </p>
            
            <% if current_user.is_business? %>
              <p class="identifier claim-type">
                <%= link_to I18n.t("app.show_detail"), business_claim_path(@business, claim) %>
              </p>
              <p>
                <%= link_to "#{I18n.t("app.status")}: #{claim.status}", business_claim_path(@business, claim), class: "btn btn-danger status-btn", data: {status: verify_status(claim.status) } %>
              </p>
            <% else %>
              <p class="identifier claim-type">
                <%= link_to I18n.t("app.show_detail"), claim_path(claim) %>
              </p>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <div class="text-center"><%= I18n.t("error.no_record", val: I18n.t("app.claims")) %></div>
  <% end %>
</div>
