<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "javascript:void(0)", class: "navbar-brand app-name"  do %>
        <%= I18n.t("app.name") %>
      <% end %>
    </div>
    <ul class="nav navbar-nav">
      <li>
        <a href="javascript:void(0)" class = "vl">
          <span class="glyphicon glyphicon-home"></span><%= I18n.t("app.home") %>
        </a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if current_user %>
      <li>
        <%= link_to "javascript:void(0)" do %>
        <span class="glyphicon glyphicon-user"></span><%= I18n.t("app.welcome") + " " + current_user.user_name %>
        <% end %>
      </li>
      <% end %>
      <li>
        <%= user_claim_path if current_user %>
      </li>
      <li>
        <%= login_logout_path %>
      </li>
      
    </ul>
  </div>
</nav>
