<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to root_url, class: "navbar-brand app-name"  do %>
        <%= I18n.t("app.name") %>
      <% end %>
    </div>
    <ul class="nav navbar-nav">
      <% if current_user %>
        <li>
          <%= link_to identify_user_profile, class: "vl" do %>
            <span class="glyphicon glyphicon-user"></span>
            <%= I18n.t("app.welcome") + " " + current_user.user_name %>
          <% end %>
        </li>
      <% end %>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if current_user %>
        <li>
          <%= user_claim_path %>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-bell"></span>
            <%= I18n.t("app.notification") %> (<b><%= user_notification.size %></b>)
          </a>
          <ul class="dropdown-menu notify-drop">
            <div class="notify-drop-title">
              <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6">
                  <%= I18n.t("app.notification") %> (<b><%= user_notification.size %></b>)
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 text-right"><a href="" class="rIcon allRead" data-tooltip="tooltip" data-placement="bottom"><i class="fa fa-dot-circle-o"></i></a></div>
              </div>
            </div>
            <div class="drop-content">
              <% if @notification.present? %>
                <% @notification.each do |notification| %>
                  <li>
                    <div class="col-md-3 col-sm-3 col-xs-3">
                      <%= image_tag "notification.png", class: "notify-img" %>
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-9 pd-l0">
                      <p data-><%= notification.notfication_message %></p>
                      <hr>
                      <p class="time"><%= format_time(notification.created_at)  %></p>
                    </div>
                  </li>
                <% end %>
              <% else %>
                <div class="row text-center">
                  <p class="notification-msg">
                    <%= I18n.t("error.no_record", val: I18n.t("app.notification")) %>
                  </p>
                </div>
              <% end %>
            </div>
            <!-- <div class="notify-drop-footer text-center">
              <a href=""><i class="fa fa-eye"></i> Show all</a>
            </div> -->
          </ul>
        </li>

        <% if current_user.is_business? %>
          <li>
            <%= request_for_proposals %>
          </li>
          <li>
            <%= lawyer_list %>
          </li>
        <% end %>

        

      <% end %>

       <li>
        <%= login_logout_path %>
      </li>

    </ul>
  </div>
</nav>
