<div class="container">
  <div class="form-horizontal text-center detail-claim">
    <div class="form-group">
      <p class="lawyer-email"><%= claim_header %></p>
      <% if current_user.is_lawyer? %>
        <%= link_to new_claim_bid_path(@claim), class: "btn btn-danger create-claim-btn", remote: true do  %>
          <span class="glyphicon glyphicon-chevron-up"></span>
          <%= I18n.t("app.start_bidding") %>
        <% end %>
      <% end %>
    </div>


    <div class="form-group">
      <%= label_tag :name, I18n.t("user.name"), class: "control-label col-sm-4" %>
      <div class="col-sm-8 ">
        <%= label_tag :name, @owner.name, class: "control-label" %>
      </div>
    </div>

    <div class="form-group">
      <%= label_tag :email, I18n.t("user.email"), class: "control-label col-sm-4" %>
      <div class="col-sm-8 ">
        <%= label_tag :email, @owner.email, class: "control-label" %>
      </div>
    </div>

    <div class="form-group">
      <%= label_tag :contact_number, I18n.t("user.contact_number"), class: "control-label col-sm-4" %>
      <div class="col-sm-8 ">
        <%= label_tag :contact_number, @owner.contact_number, class: "control-label" %>
      </div>
    </div>

    <div class="sprtn-line "></div>

    <div class="form-group">
      <%= label_tag :amount, I18n.t("app.amount"), class: "control-label col-sm-4" %>
      <div class="col-sm-8 ">
        <%= label_tag :amount, amount_currency(@claim.amount), class: "control-label" %>
      </div>
    </div>
    <div class="form-group">
      <%= label_tag :claim_type, I18n.t("app.claim_type"), class: "control-label col-sm-4" %>
      <div class="col-sm-8">
        <%= label_tag :claim_type, @claim.collection_area_name , class: "control-label" %>
      </div>
    </div>
    <div class="form-group">
      <%= label_tag :county, I18n.t("app.county"), class: "control-label col-sm-4" %>
      <div class="col-sm-8">
        <%= label_tag :county, @claim.county , class: "control-label" %>
      </div>
    </div>
    <div class="form-group">
      <%= label_tag :pending_since, I18n.t("app.pending_since"), class: "control-label col-sm-4" %>
      <div class="col-sm-8">
        <%= label_tag :pending_since, modify_date_format(@claim.pending_since) , class: "control-label" %>
      </div>
    </div>

    <div class="sprtn-line "></div>

    <div class="row text-center lawyer-email align-debtor-info"><%= I18n.t("app.debtor_info") %></div>

    <div class="form-group">
      <%= label_tag :name, I18n.t("user.name"), class: "control-label col-sm-4" %>
      <div class="col-sm-8">
        <%= label_tag :name, @debtor.name , class: "control-label" %>
      </div>
    </div>

    <div class="form-group">
      <%= label_tag :address, I18n.t("app.address"), class: "control-label col-sm-4" %>
      <div class="col-sm-8">
        <%= label_tag :address, @debtor.address , class: "control-label" %>
      </div>
    </div>

    <div class="form-group">
      <%= label_tag :county, I18n.t("app.county"), class: "control-label col-sm-4" %>
      <div class="col-sm-8">
        <%= label_tag :county, @debtor.county , class: "control-label" %>
      </div>
    </div>

    <div class="form-group">
      <%= label_tag :city, I18n.t("address.city"), class: "control-label col-sm-4" %>
      <div class="col-sm-8">
        <%= label_tag :city, @debtor.city , class: "control-label" %>
      </div>
    </div>

    <div class="form-group">
      <%= label_tag :postal_code, I18n.t("address.postal_code"), class: "control-label col-sm-4" %>
      <div class="col-sm-8">
        <%= label_tag :postal_code, @debtor.postal_code , class: "control-label" %>
      </div>
    </div>


    <% if @doc.attached? %>
      <div class="sprtn-line "></div>
      <div class="row text-center lawyer-email align-debtor-info"><%= I18n.t("app.attachment") %></div>

      <div class="form-group text-center">
        <%= link_to url_for(@doc), target: "_blank" do %>
          <% if ApplicationRecord::VALID_FILE_TYPE.include?(@doc.attachment.blob.content_type) %>
            <%= image_tag url_for(@doc), class: "attachment" %>
          <% else %>
            <%= image_tag "file", class: "attachment" %>
          <% end %>
        <% end %>
      </div>
    <% end %>


    <div class="sprtn-line "></div>
    <div class="row text-center lawyer-email align-debtor-info"><%= I18n.t("app.addition_info") %></div>

    <% if !(current_user.is_lawyer?) %>
      <div class="form-group">

        <%= link_to claim_bids_path(@claim) do %>
          <span class="control-label col-sm-4 bids-btn">
            <%= I18n.t("app.bids")  %>
          </span>
          <div class="col-sm-8">
            <%= label_tag :total_bids, @claim.bids_count , class: "control-label" %>
          </div>
        <% end %>
      </div>
    <% end %>

    <div class="form-group">
      <%= label_tag :description, I18n.t("user.description"), class: "control-label col-sm-4" %>
      <div class="col-sm-8 claim-description">
        <%= label_tag :description, @claim.additional_desciption%>
      </div>
    </div>
  </div>

</div>