<div class="container text-center">
  <div class="welcm-msg">
    <span><%= I18n.t("app.welcome_msg") %></span>
  </div>
  <div class="tag-line">
    <span><%= I18n.t("app.tag_line") %></span>
  </div>
  <div class="tag-line">
    <span><%= I18n.t("app.sign_up") %></span>
    <span><%= I18n.t("app.as") %></span>
  </div>
  <div>
    <%= link_to I18n.t("app.business"), business_registration_url, class: "btn btn-primary align-welcm-btn" %>
  </div>
  <div class="tag-line">
    <span><%= I18n.t("app.and") %></span>
    <p><%= I18n.t("app.connect_with") %></p>
  </div>
  <div>
    <%= link_to I18n.t("app.legal_professional"), legal_professional_registration_url, class: "btn btn-primary align-welcm-btn" %>
  </div>
  <div class="para-msg">
    <%= I18n.t("app.footer_tagline") %>
  </div>
</div>
