<div class="lawyer_profile">
  <%= form_for @business, as: :user, url: business_path(@business) do |f| %>
    <%= f.hidden_field :profile_completed , value: true%>
    <%= render 'shared/image_section', {f: f} %>

    <div class="profile_form container text-center">

      <%= render 'shared/profile_form', {f: f} %>
      <div class="complete-profile-sprtn-line"></div>
      <%= render 'shared/address', {f: f} %>

      <div class="complete-profile-sprtn-line"></div>

      <div class="row align-row">
        <%= f.submit I18n.t("app.complete_profile"), class: 'complete-profile-btn' %>
      </div>
    </div>
  <% end %>

</div>
