<div class="lawyer_profile">
  <%= form_for @lawyer, as: :user, url: legal_professional_path(@lawyer) do |f| %>
    <%= render 'shared/image_section', {f: f} %>

    <div class="profile_form container text-center">

      <%= render 'shared/profile_form', {f: f} %>

      <div class="row align-text-area">
        <div class="text-left pretify-exp"><%= I18n.t("app.collection_area")  + "*"%></div>
        <div class="algin-collectn-area-checkbox">
          <%= f.collection_check_boxes :collection_area_ids, CollectionArea.all, :id, :name do |b| %>
            <div class="col-sm-2">
              <div class="form-group text-left">
                <% val = b.object.name.parameterize.underscore %>
                <%= b.check_box class: "collection-area-checkbox", id: val %>
                <%= b.label for: val %>
              </div>
            </div>
          <% end %>
        </div>
      </div>

      <div class="complete-profile-sprtn-line"></div>
      <%= render 'shared/address', {f: f} %>
      <div class="complete-profile-sprtn-line"></div>
      <div class="row align-row text-left work_experience">
        <div class="col-md-6">
          <%= render 'shared/work_experience' %>
        </div>
        <div class="col-md-6 education">
          <%= render 'shared/education' %>
        </div>
      </div>

      <div class="row align-row">
        <%= f.submit I18n.t("app.complete_profile"), class: 'complete-profile-btn' %>
      </div>
    </div>
  <% end %>

</div>
