<!DOCTYPE html>
<html>
  <head>
    <title>DebtCollection</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('application_logo.jpg'), :rel => 'icon', :type => "image/x-icon" %>
  </head>

  <body>
    <div id="main-content" class="bg">
      <div id="navigation_bar">
        <%= render 'shared/navbar' %>
      </div>
      <div class="flash-messages">
        <% flash.each do |key, value| %>
          <div class="<%= flash_class(key) %> text-center flash-msg">
            <%= value %>
          </div>
        <% end %>
      </div>
      <div class="container-fluid">
        <%= render 'shared/bootstrap_modal' %>
        <%= yield %>
      </div>
    </div>
    <div class="footer">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li>
            <%= link_to I18n.t("app.about_us"), about_url, class: "navbar-footer-link" %>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#navigation_bar" class = "navbar-footer-link back-to-top">
              <%= I18n.t("app.back_to_top") %>
            </a>
          </li>
          <li>
            <a href="<%= root_url %>" class = "vl navbar-footer-link">
              <%= I18n.t("app.privacy_policy") %>
            </a>
          </li>
        </ul>
      </div>
    </div>

  </body>
</html>
