<div class="work-experience-form text-left">
  <%= form_for(@claim, url: business_claims_path, multiple: true, remote: true, html: {class: "form-horizontal"})  do |f| %>

    <div class="form-group">
      <%= f.label :collection_area_id, I18n.t("app.claim_type"), class: "control-label col-sm-3" %>
      <div class="col-sm-9">
        <%= f.select(:collection_area_id, CollectionArea.all.collect {|u| [u.name, u.id]}, {:include_blank => I18n.t("app.select_claim_type")}, {:class => "form-control"} ) %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :amount, I18n.t("app.amount"), class: "control-label col-sm-3" %>
      <div class="col-sm-9">
        <%= f.text_field :amount, placeholder: I18n.t("app.enter_amount"), class: "form-control", "data-validate-error": true, "data-error-msg": f.object.errors[:amount][0]  %>
      </div>
    </div>


    <div class="form-group">
      <%= f.label :pending_since, I18n.t("claim.pending_since"), class: "control-label col-sm-3" %>
      <div class="col-sm-9">
        <%= f.date_field :pending_since, placeholder: I18n.t("app.enter_pending_since"), class: "form-control", "data-validate-error": true, "data-error-msg": f.object.errors[:pending_since][0] %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :county, I18n.t("address.county"), class: "control-label col-sm-3" %>
      <div class="col-sm-9">
        <%= f.text_field :county, placeholder: I18n.t("app.enter_county"), class: "form-control", "data-validate-error": true, "data-error-msg": f.object.errors[:county][0] %>
      </div>
    </div>

    <div class="sprtn-line "></div>
    <div class="row text-center lawyer-email align-debtor-info"><%= I18n.t("app.debtor_info") %></div>
    <%= f.fields_for :debtor do |field| %>
      <div class="form-group">
        <%= field.label :name, I18n.t("app.debtor_name"), class: "control-label col-sm-3" %>
        <div class="col-sm-9">
          <%= field.text_field :name, placeholder: I18n.t("app.enter_debtor"), class: "form-control", "data-validate-error": true, "data-error-msg": field.object.errors[:name][0] %>
        </div>
      </div>

      <div class="form-group">
        <%= field.label :address, I18n.t("app.address"), class: "control-label col-sm-3" %>
        <div class="col-sm-9">
          <%= field.text_field :address, placeholder: I18n.t("app.enter_address"), class: "form-control", "data-validate-error": true, "data-error-msg": field.object.errors[:address][0] %>
        </div>
      </div>

      <div class="form-group">
        <%= field.label :city, I18n.t("address.city"), class: "control-label col-sm-3" %>
        <div class="col-sm-9">
          <%= field.text_field :city, placeholder: I18n.t("app.enter_city"), class: "form-control", "data-validate-error": true, "data-error-msg": field.object.errors[:city][0] %>
        </div>
      </div>

      <div class="form-group">
        <%= field.label :county, I18n.t("address.county"), class: "control-label col-sm-3" %>
        <div class="col-sm-9">
          <%= field.text_field :county, placeholder: I18n.t("app.enter_county"), class: "form-control", "data-validate-error": true, "data-error-msg": field.object.errors[:county][0] %>
        </div>
      </div>

      <div class="form-group">
        <%= field.label :postal_code, I18n.t("address.postal_code"), class: "control-label col-sm-3" %>
        <div class="col-sm-9">
          <%= field.text_field :postal_code, placeholder: I18n.t("app.enter_postal_code"), class: "form-control", "data-validate-error": true, "data-error-msg": field.object.errors[:postal_code][0] %>
        </div>
      </div>

    <% end %>

    <div class="sprtn-line "></div>

    <div class="form-group">
      <%= f.label :additional_desciption, I18n.t("user.description"), class: "control-label col-sm-3" %>
      <div class="col-sm-9">
        <%= f.text_area :additional_desciption, placeholder: I18n.t("app.enter_description"), class: "form-control", "data-validate-error": true, "data-error-msg": f.object.errors[:additional_desciption][0], rows: 5, maxlength: 1000  %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :document, I18n.t("app.documents"), class: "control-label col-sm-3 doc-title" %>
      <div class="col-sm-9">
        <%= f.file_field :document, class: "hide" %>
        <%= image_tag "file", class: "avatar claim-doc" %>
      </div>
    </div>


    <div class="checkbox form-group rfp-checkbox">
      <div class="col-sm-2"></div>
      <div class="col-sm-10">
        <%= f.label :is_rfp do %>
          <%= f.check_box :is_rfp %>
          <%= I18n.t("app.rfp") %>
        <% end %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10 text-center">
        <%= f.submit I18n.t("app.submit"), class: "btn btn-danger claim-form-btn" %>
      </div>
    </div>
  <% end %>
</div>
